.ant-modal-header {
  background-color: #512da8;
}

.ant-modal-title {
  color: white;
}

.ant-divider-horizontal {
  margin: 10px 0px;
}

.ant-input-group.ant-input-group-compact {
  display: block;
  height: 45px;
}

.horizontal-scroll {
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.y-scroll {
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.y-scroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.ant-card-body {
  padding-top: 5px;
}
